
<nav class="nav">
  <a mat-button routerLink="/profil">Mon profil</a>
  <a mat-button routerLink="/mesinscriptions">Mes inscriptions</a>
  <a mat-raised-button color="primary" href="http://localhost:4200" class="login-btn">Se deconnecter</a>
</nav>



  <h3>Profil</h3>
  <mat-form-field appearance="outline" >
    <mat-label>Nom</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>


<section>
  <mat-form-field appearance="outline" >
    <mat-label>Prenom</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
</section>

<section>
  <mat-form-field appearance="outline" >
    <mat-label>Date de naissance</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
</section>

<section>
  <mat-form-field appearance="outline" >
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
</section>


<section>
  <mat-form-field appearance="outline" >
    <mat-label>Telephone</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
</section>

<section>
  <a mat-raised-button href="" target="_blank">quotient familial</a>

</section>
_______________________

<section> <a mat-raised-button href="" target="_blank">Modifier mon profil</a></section>

_______________________

