
<a mat-raised-button color="primary" href="http://localhost:4200/login" class="login-btn">Se connecter</a>
<nav class="nav">
  <a mat-button routerLink="/cours">Nos cours</a>
  <a mat-button routerLink="/apropos">À propos</a>
  <a mat-button routerLink="/infos">Infos utiles</a>
</nav>
<div class="search-container">


</div>
<div class="content">
  <div class="left">
    <h2>Search</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width">

        <input type="text"
               placeholder="Rechercher"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>


  </div>
  <div class="right">
    <h2>Cours</h2>
    <div class="course-card">
      <p>natation 1 :.</p>
      <p>tenis 2 : </p>
      <p>football 3 : </p>
    </div>
    <img src="/tenis.png" alt="Tennis Player" />
    <img src="/foot.png" alt="foot Player" />

  </div>
</div>





