
  <button mat-raised-button color="primary" class="login-btn">Se connecter</button>


<nav class="nav">
  <a mat-button routerLink="/cours">Nos cours</a>
  <a mat-button routerLink="/apropos">À propos</a>
  <a mat-button routerLink="/infos">Infos utiles</a>
</nav>
<div class="search-container">
  <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <input
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin">
  </div>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>

</div>
<div class="content">
  <div class="left">
    <h2>Search</h2>
    <mat-form-field>
      <input matInput placeholder="Rechercher" />
    </mat-form-field>
  </div>
  <div class="right">
    <h2>Cours</h2>
    <div class="course-card">
      <p>Cours 1 :.</p>
      <p>Cours 2 : </p>
      <p>Cours 3 : </p>
    </div>
    <img src="assets/tennis.png" alt="Tennis Player" />
  </div>
</div>

